<a href="https://colab.research.google.com/github/Clarenceeey/chess/blob/main/DC_Bootcamp_Week_09_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas:
### - Calling APIs using Python

<strong> <h2> Run The Following Code </h2> </strong>

Hit SHIFT + ENTER when your cusor is inside the cell of code.<br/>

> Import the packages

In [ ]:
import pandas as pd
import requests

## Calling API Example 1

> 1. Open this url in your browser: https://data.gov.sg/dataset/list-of-government-markets-hawker-centres
> 2. Click on the "Data API" button on top rigth corner to see resource_id for this dataset
> 3. Use **requests** package to call this API and get all first 5 rows of data

In [ ]:
# Option A - Manually construct the request URL
url_full = 'https://data.gov.sg/api/action/datastore_search?resource_id=8f6bba57-19fc-4f36-8dcf-c0bda382364d&limit=5'

response = requests.get(url_full)

In [ ]:
# Option B - (Recommneded) passing a dictionary to .get() method in requests to construct the request url
url_base = 'https://data.gov.sg/api/action/datastore_search'

parameters = {
    'resource_id' : '8f6bba57-19fc-4f36-8dcf-c0bda382364d',
    'limit': '5'
}
response = requests.get(url_base, params=parameters)

In [ ]:
# Check the url that sent to the API server
response.url

'https://data.gov.sg/api/action/datastore_search?resource_id=8f6bba57-19fc-4f36-8dcf-c0bda382364d&limit=5'

In [ ]:
# Check the status of the request
response.status_code

200

In [ ]:
# View the json text returned by the API server
response_dict = response.json()
response_dict

{'help': 'https://data.gov.sg/api/3/action/help_show?name=datastore_search',
 'success': True,
 'result': {'resource_id': '8f6bba57-19fc-4f36-8dcf-c0bda382364d',
  'fields': [{'type': 'int4', 'id': '_id'},
   {'type': 'text', 'id': 'name_of_centre'},
   {'type': 'text', 'id': 'location_of_centre'},
   {'type': 'text', 'id': 'type_of_centre'},
   {'type': 'text', 'id': 'owner'},
   {'type': 'numeric', 'id': 'no_of_stalls'},
   {'type': 'numeric', 'id': 'no_of_cooked_food_stalls'},
   {'type': 'numeric', 'id': 'no_of_mkt_produce_stalls'}],
  'records': [{'location_of_centre': '2, Adam Road, S(289876)',
    'no_of_cooked_food_stalls': '32',
    'no_of_mkt_produce_stalls': '0',
    'name_of_centre': 'Adam Road Food Centre',
    'type_of_centre': 'HC',
    'no_of_stalls': '32',
    'owner': 'Government',
    '_id': 1},
   {'location_of_centre': 'National Development Building, Annex B, Telok Ayer Street, S(069111)',
    'no_of_cooked_food_stalls': '134',
    'no_of_mkt_produce_stalls': '1',
    'name_of_centre': 'Amoy Street Food Centre',
    'type_of_centre': 'HC',
    'no_of_stalls': '135',
    'owner': 'Government',
    '_id': 2},
   {'location_of_centre': '1, Bedok Road, S(469572)',
    'no_of_cooked_food_stalls': '32',
    'no_of_mkt_produce_stalls': '0',
    'name_of_centre': 'Bedok Food Centre',
    'type_of_centre': 'HC',
    'no_of_stalls': '32',
    'owner': 'Government',
    '_id': 3},
   {'location_of_centre': '38A, Beo Crescent, S(169982)',
    'no_of_cooked_food_stalls': '32',
    'no_of_mkt_produce_stalls': '62',
    'name_of_centre': 'Beo Crescent Market',
    'type_of_centre': 'MHC',
    'no_of_stalls': '94',
    'owner': 'Government',
    '_id': 4},
   {'location_of_centre': '166, Jalan Besar, S(208877)',
    'no_of_cooked_food_stalls': '66',
    'no_of_mkt_produce_stalls': '0',
    'name_of_centre': 'Berseh Food Centre',
    'type_of_centre': 'HC',
    'no_of_stalls': '66',
    'owner': 'Government',
    '_id': 5}],
  '_links': {'start': '/api/action/datastore_search?limit=5&resource_id=8f6bba57-19fc-4f36-8dcf-c0bda382364d',
   'next': '/api/action/datastore_search?offset=5&limit=5&resource_id=8f6bba57-19fc-4f36-8dcf-c0bda382364d'},
  'limit': 5,
  'total': 107}}

> The json text above is a nested-dictionary <br>
> Picture below shows the structure in a visual form

> ![](hawker_structure.png)

In [ ]:
# Traverse the dictionary to the level where the main records are located
response_dict['result']['total']

107

In [ ]:
# Traverse the dictionary to the level where the main records are located
records = response_dict['result']['records']
records

[{'location_of_centre': '2, Adam Road, S(289876)',
  'no_of_cooked_food_stalls': '32',
  'no_of_mkt_produce_stalls': '0',
  'name_of_centre': 'Adam Road Food Centre',
  'type_of_centre': 'HC',
  'no_of_stalls': '32',
  'owner': 'Government',
  '_id': 1},
 {'location_of_centre': 'National Development Building, Annex B, Telok Ayer Street, S(069111)',
  'no_of_cooked_food_stalls': '134',
  'no_of_mkt_produce_stalls': '1',
  'name_of_centre': 'Amoy Street Food Centre',
  'type_of_centre': 'HC',
  'no_of_stalls': '135',
  'owner': 'Government',
  '_id': 2},
 {'location_of_centre': '1, Bedok Road, S(469572)',
  'no_of_cooked_food_stalls': '32',
  'no_of_mkt_produce_stalls': '0',
  'name_of_centre': 'Bedok Food Centre',
  'type_of_centre': 'HC',
  'no_of_stalls': '32',
  'owner': 'Government',
  '_id': 3},
 {'location_of_centre': '38A, Beo Crescent, S(169982)',
  'no_of_cooked_food_stalls': '32',
  'no_of_mkt_produce_stalls': '62',
  'name_of_centre': 'Beo Crescent Market',
  'type_of_centre': 'MHC',
  'no_of_stalls': '94',
  'owner': 'Government',
  '_id': 4},
 {'location_of_centre': '166, Jalan Besar, S(208877)',
  'no_of_cooked_food_stalls': '66',
  'no_of_mkt_produce_stalls': '0',
  'name_of_centre': 'Berseh Food Centre',
  'type_of_centre': 'HC',
  'no_of_stalls': '66',
  'owner': 'Government',
  '_id': 5}]

In [ ]:
# Check the number of records
len(records)

5

In [ ]:
# Use .json_normalize from Pandas to convert the dictionary into a DataFrame
pd.json_normalize(records)

,location_of_centre,no_of_cooked_food_stalls,no_of_mkt_produce_stalls,name_of_centre,type_of_centre,no_of_stalls,owner,_id
0,"2, Adam Road, S(289876)",32,0,Adam Road Food Centre,HC,32,Government,1
1,"National Development Building, Annex B, Telok ...",134,1,Amoy Street Food Centre,HC,135,Government,2
2,"1, Bedok Road, S(469572)",32,0,Bedok Food Centre,HC,32,Government,3
3,"38A, Beo Crescent, S(169982)",32,62,Beo Crescent Market,MHC,94,Government,4
4,"166, Jalan Besar, S(208877)",66,0,Berseh Food Centre,HC,66,Government,5

In [ ]:
# Use .json_normalize from Pandas to convert the dictionary into a DataFrame
# Store into a variable called "df_hawker"
df_hawker = pd.json_normalize(records)

## Calling API Example 2: with Parameters

> 1. Open this url in your browser: https://www.onemap.gov.sg/docs/#onemap-rest-apis
> 2. Understand the parameters (required and optional) of the "search" endpoint from OneMap API
> 3. Use **requests** package to call this API and get all first 5 rows of data

> ![apiexp](https://i.imgur.com/2bwoYYl.png)

In [ ]:
# Try to call the API (Case-sensitive Parameters not match)

url_base = 'https://developers.onemap.sg/commonapi/search'

parameters = {
    'searchval' : 'Adam Road Food Centre',
    'returngeom': 'Y',
    'getAddrDetails': 'Y'
}
response = requests.get(url_base, params=parameters)
response.status_code

400

In [ ]:
# Try to call the API (Required Parameters not provided)

url_base = 'https://developers.onemap.sg/commonapi/search'

parameters = {
    'searchVal' : 'Adam Road Food Centre',
}
response = requests.get(url_base, params=parameters)
response.status_code

400

In [ ]:
# Try to call the API (Correctly)

url_base = 'https://developers.onemap.sg/commonapi/search'

parameters = {
    'searchVal' : 'Adam Road Food Centre',
    'returnGeom': 'Y',
    'getAddrDetails': 'Y'
}
response = requests.get(url_base, params=parameters)
response.status_code

200

In [ ]:
# View the json text returned by the server
response.json()

{'found': 1,
 'totalNumPages': 1,
 'pageNum': 1,
 'results': [{'SEARCHVAL': 'ADAM ROAD FOOD CENTRE',
   'BLK_NO': '2',
   'ROAD_NAME': 'ADAM ROAD',
   'BUILDING': 'ADAM ROAD FOOD CENTRE',
   'ADDRESS': '2 ADAM ROAD ADAM ROAD FOOD CENTRE SINGAPORE 289876',
   'POSTAL': '289876',
   'X': '25870.3018411137',
   'Y': '34035.8644314632',
   'LATITUDE': '1.3240827139625',
   'LONGITUDE': '103.814182099841',
   'LONGTITUDE': '103.814182099841'}]}

In [ ]:
# Use .json_normalize from Pandas to convert the dictionary into a DataFrame
pd.json_normalize(response.json()['results'])

,SEARCHVAL,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,X,Y,LATITUDE,LONGITUDE,LONGTITUDE
0,ADAM ROAD FOOD CENTRE,2,ADAM ROAD,ADAM ROAD FOOD CENTRE,2 ADAM ROAD ADAM ROAD FOOD CENTRE SINGAPORE 28...,289876,25870.3018411137,34035.8644314632,1.3240827139625,103.814182099841,103.814182099841

> 1. Loop through the **df_hawker** and find the geoinfo of each hawker from OneMap's SEARCH endpoint
> 2. Store all the geoinfo as a new DataFrame

In [ ]:
def fetch_geoinfo(name_of_centre):
    # Create a dictionary of the parameters
    parameters = {
        'searchVal' : name_of_centre,
        'returnGeom': 'Y',
        'getAddrDetails': 'Y'
    }

    # Send the request via .get() method
    response = requests.get(url_base, params=parameters)

    # Check if the request is successful
    if response.status_code == 200:
        response_dict = response.json()
        # Check if there is at least 1 record
        results = response_dict.get('results')
        if results:
            df_temp = pd.json_normalize(results)  # use your appropriate function here
            return df_temp
    else:
        print(f'The request failed and returned status code: {response.status_code}')

# Apply function to df_hawker
df_hawker_geoinfo = df_hawker['name_of_centre'].apply(fetch_geoinfo)

# Concatenate dataframes in list
df_hawker_geoinfo = pd.concat(list(df_hawker_geoinfo), axis=0, ignore_index=True)

In [ ]:
df_hawker_geoinfo

,SEARCHVAL,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,X,Y,LATITUDE,LONGITUDE,LONGTITUDE
0,ADAM ROAD FOOD CENTRE,2,ADAM ROAD,ADAM ROAD FOOD CENTRE,2 ADAM ROAD ADAM ROAD FOOD CENTRE SINGAPORE 28...,289876,25870.3018411137,34035.8644314632,1.3240827139625,103.814182099841,103.814182099841
1,OCBC AMOY STREET FOOD CENTRE,7,MAXWELL ROAD,OCBC AMOY STREET FOOD CENTRE,7 MAXWELL ROAD OCBC AMOY STREET FOOD CENTRE SI...,069111,29480.2599858707,29076.4117134903,1.27923120961067,103.846619273705,103.846619273705
2,AMOY STREET FOOD CENTRE,7,MAXWELL ROAD,AMOY STREET FOOD CENTRE,7 MAXWELL ROAD AMOY STREET FOOD CENTRE SINGAPO...,069111,29483.955767219,29088.4261356071,1.2793398636571,103.846652482254,103.846652482254
3,DBS AMOY STREET FOOD CENTRE,7,MAXWELL ROAD,DBS AMOY STREET FOOD CENTRE,7 MAXWELL ROAD DBS AMOY STREET FOOD CENTRE SIN...,069111,29480.2599858707,29076.4117134903,1.27923120961067,103.846619273705,103.846619273705
4,BEDOK FOOD CENTRE,1,BEDOK ROAD,BEDOK FOOD CENTRE,1 BEDOK ROAD BEDOK FOOD CENTRE SINGAPORE 469572,469572,41595.4345044643,33623.132626934,1.32034716834128,103.955480570427,103.955480570427
5,BEO CRESCENT MARKET,38A,BEO CRESCENT,BEO CRESCENT MARKET,38A BEO CRESCENT BEO CRESCENT MARKET SINGAPORE...,169982,27336.1809281698,30137.891893005,1.28883089150258,103.827353892228,103.827353892228
6,DBS BERSEH FOOD CENTRE,166,JALAN BESAR,DBS BERSEH FOOD CENTRE,166 JALAN BESAR DBS BERSEH FOOD CENTRE SINGAPO...,208877,30623.1447876785,32184.9995951913,1.30734410918998,103.856888783497,103.856888783497
7,BERSEH FOOD CENTRE,166,JALAN BESAR,BERSEH FOOD CENTRE,166 JALAN BESAR BERSEH FOOD CENTRE SINGAPORE 2...,208877,30623.1448179465,32184.9996254593,1.30734410946371,103.856888783769,103.856888783769

In [ ]:
df_hawker_geoinfo = []

for row_index, row in df_hawker.iterrows():
    # Create a dictionary of the parameters
    parameters = {
        'searchVal' : row['name_of_centre'],
        'returnGeom': 'Y',
        'getAddrDetails': 'Y'
    }

    # Send the request via .get() method
    response = requests.get(url_base, params=parameters)

    # Check if the request is successful
    if response.status_code == 200:
        response_dict = response.json()
        # Check if there is at least 1 record
        if len(response_dict['results']) > 0:
            df_temp = pd.json_normalize(response_dict['results'])
            df_hawker_geoinfo.append(df_temp)
    else:
        print('The request failed and returned status code:' + str(response.status_code))

# Concatenate the records stored in multiple DataFrames into a single DataFrame
df_hawker_geoinfo = pd.concat(df_hawker_geoinfo, axis=0, ignore_index=True)
df_hawker_geoinfo

,SEARCHVAL,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,X,Y,LATITUDE,LONGITUDE,LONGTITUDE
0,ADAM ROAD FOOD CENTRE,2,ADAM ROAD,ADAM ROAD FOOD CENTRE,2 ADAM ROAD ADAM ROAD FOOD CENTRE SINGAPORE 28...,289876,25870.3018411137,34035.8644314632,1.3240827139625,103.814182099841,103.814182099841
1,OCBC AMOY STREET FOOD CENTRE,7,MAXWELL ROAD,OCBC AMOY STREET FOOD CENTRE,7 MAXWELL ROAD OCBC AMOY STREET FOOD CENTRE SI...,069111,29480.2599858707,29076.4117134903,1.27923120961067,103.846619273705,103.846619273705
2,AMOY STREET FOOD CENTRE,7,MAXWELL ROAD,AMOY STREET FOOD CENTRE,7 MAXWELL ROAD AMOY STREET FOOD CENTRE SINGAPO...,069111,29483.955767219,29088.4261356071,1.2793398636571,103.846652482254,103.846652482254
3,DBS AMOY STREET FOOD CENTRE,7,MAXWELL ROAD,DBS AMOY STREET FOOD CENTRE,7 MAXWELL ROAD DBS AMOY STREET FOOD CENTRE SIN...,069111,29480.2599858707,29076.4117134903,1.27923120961067,103.846619273705,103.846619273705
4,BEDOK FOOD CENTRE,1,BEDOK ROAD,BEDOK FOOD CENTRE,1 BEDOK ROAD BEDOK FOOD CENTRE SINGAPORE 469572,469572,41595.4345044643,33623.132626934,1.32034716834128,103.955480570427,103.955480570427
5,BEO CRESCENT MARKET,38A,BEO CRESCENT,BEO CRESCENT MARKET,38A BEO CRESCENT BEO CRESCENT MARKET SINGAPORE...,169982,27336.1809281698,30137.891893005,1.28883089150258,103.827353892228,103.827353892228
6,DBS BERSEH FOOD CENTRE,166,JALAN BESAR,DBS BERSEH FOOD CENTRE,166 JALAN BESAR DBS BERSEH FOOD CENTRE SINGAPO...,208877,30623.1447876785,32184.9995951913,1.30734410918998,103.856888783497,103.856888783497
7,BERSEH FOOD CENTRE,166,JALAN BESAR,BERSEH FOOD CENTRE,166 JALAN BESAR BERSEH FOOD CENTRE SINGAPORE 2...,208877,30623.1448179465,32184.9996254593,1.30734410946371,103.856888783769,103.856888783769

# !! Your Turn !!

## Replace the code marked as <..> COMPLETELY with your own.
- The placeholder <..> is meant to be guidance for your answer.
- It should not be restricting your solutions for the questions.
- Feel free to add more lines or use less lines,
- One placeholder does not mean that you can only insert one line of codes.

# Question 1
> - Continue from the **df_hawker** and **df_hawker_geoinfo**, produce a new DataFrame **df_hawker_center**, <br>
> where each row is a unique hawker center with all the columns both **df_hawker** and **df_hawker_geoinfo**
> - The four columns "X", "Y", "LONGTITUDE", and "_id" must be excluded in the **df_hawker_center**
> - Change all the column names into lower case

In [ ]:
# More common: without inplace
# The method will return an output
# df_hawker_center = df_hawker_center.drop(['X', 'Y', 'LONGTITUDE', '_id'], axis=1)


# More common: wit inplace
# The method will NOT return an output (directly overwrite the orginal variable)
df_hawker_center.drop(['X', 'Y', 'LONGTITUDE', '_id'], axis=1, inplace=True)

In [ ]:
df_hawker_geoinfo.rename(columns={'SEARCHVAL': 'name_of_centre'}, inplace=True)

df_hawker_geoinfo['name_of_centre'] = df_hawker_geoinfo['name_of_centre'].str.title()

df_hawker_center = pd.merge(df_hawker, df_hawker_geoinfo, 'left', 'name_of_centre')

# df_hawker_center.drop(['X', 'Y', 'LONGTITUDE', '_id'], axis=1, inplace=True)

In [ ]:
# Alternative A:
column_names_old = df_hawker_center.columns

column_names_new = []
for col in column_names_old:
    column_names_new.append(col.lower())

df_hawker_center.columns = column_names_new

In [ ]:
# Alternative B: (using list comprehension)
df_hawker_center.columns = [c.lower() for c in df_hawker_center.columns]

# Question 2

In [ ]:
url = 'https://d17lzt44idt8rf.cloudfront.net/data-week-06-MRT.csv'
response = requests.get(url)

# Make sure the request was successful
if response.status_code == 200:

  # Write the content to a file
  with open('data-week-06-MRT.csv', 'wb') as f:
      f.write(response.content)

> Part A) <br>
> Store the first 200 records from the csv file located at **data > 0_raw_data > hdb_postal_to_stations.xlsx** into a DataFrame, called **df_mrt_subset**

In [ ]:
# Alternative A
df_mrt_subset = pd.read_csv('data-week-06-MRT.csv')
# df_mrt_subset = df_mrt_subset.iloc[0:200]

# Alternative B
df_mrt_subset = pd.read_csv('data-week-06-MRT.csv', nrows=200)

In [ ]:
c

    Type  postal   Station Name
0    MRT  609690    Jurong East
1    MRT  659958    Bukit Batok
2    MRT  659083   Bukit Gombak
3    MRT  689810  Choa Chu Kang
4    MRT  689715        Yew Tee
..   ...     ...            ...
135  MRT  529683  Tampines West
136  MRT  529538       Tampines
137  MRT  529623  Tampines East
138  MRT  485990   Upper Changi
139  MRT  485985           Expo

[140 rows x 3 columns]

In [ ]:
df_mrt_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Type          140 non-null    object
 1   postal        140 non-null    int64
 2   Station Name  140 non-null    object
dtypes: int64(1), object(2)
memory usage: 3.4+ KB

In [ ]:
df_mrt_subset['len_postal_code'] = df_mrt_subset.postal.astype(str).str.len()

In [ ]:
df_mrt_subset['len_postal_code'].value_counts()

6    120
5     20
Name: len_postal_code, dtype: int64

> Part B) <br>
> - Retrieve the geoinfo using OneMap's API Endpoint 'https://developers.onemap.sg/commonapi/search', <br>
> using the postal codes of the MRT stations
> - Store the geoinfo for the MRT stations' postal code into DataFrame **df_mrt_geoinfo** <br>
> Hint: You will need to the remove the decimal point at the end of each postal code

In [ ]:
def func_convert_to_int(row):
    postal_string = str(row['postal'])
    string_before_dot = postal_string.split('.')[0]
    return int(string_before_dot)

df_mrt_subset['postal'] = df_mrt_subset.apply(func_convert_to_int, axis=1)

In [ ]:
df_mrt_geoinfo = []

# for loop that go through 1 row at a time
for row_index, row in df_mrt_subset.iterrows():
    # Create a dictionary of the parameters
    parameters = {
        'searchVal' : row['postal'],
        'returnGeom': 'Y',
        'getAddrDetails': 'Y'
    }

    # Send the request via .get() method
    response = requests.get(url_base, params=parameters)

    # Check if the request is successful
    if response.status_code == 200:
        response_dict = response.json()
        # Check if there is at least 1 record
        if len(response_dict['results']) > 0:
            df_temp = pd.json_normalize(response_dict['results'])
            df_mrt_geoinfo.append(df_temp)
    else:
        print('The request failed and returned status code:' + str(response.status_code))

In [ ]:
df_mrt_geoinfo = pd.concat(df_mrt_geoinfo, axis=0, ignore_index=True)

# Question 3

> Part A) <br>
> - Download all the records for HDB carpark info from the API https://data.gov.sg/dataset/hdb-carpark-information
> - Store the records into a DataFrame, called **df_carpark**

In [ ]:

url_base = 'https://data.gov.sg/api/action/datastore_search'

parameters = {
    'resource_id' : '139a3035-e624-4f56-b63f-89ae28d4ae4c',
}

response = requests.get(url_base, params=parameters)
response.status_code

200

In [ ]:
response_dict = response.json()
records = response_dict['result']['records']
df_carparks = pd.json_normalize(records)

In [ ]:
df_carparks

,short_term_parking,car_park_type,y_coord,x_coord,free_parking,gantry_height,car_park_basement,night_parking,address,car_park_decks,_id,car_park_no,type_of_parking_system
0,WHOLE DAY,SURFACE CAR PARK,47005.8672,22780.8105,SUN & PH FR 7AM-10.30PM,4.50,N,YES,BLK 801-810 WOODLANDS STREET 81,0,1,W36,ELECTRONIC PARKING
1,7AM-10.30PM,SURFACE CAR PARK,47060.8098,23227.4135,SUN & PH FR 7AM-10.30PM,4.50,N,NO,BLK 816-821 WOODLANDS STREET 82,0,2,W37,ELECTRONIC PARKING
2,7AM-10.30PM,SURFACE CAR PARK,46842.4180,23315.9648,SUN & PH FR 7AM-10.30PM,4.50,N,NO,BLK 830-836 WOODLANDS STREET 83,0,3,W39,ELECTRONIC PARKING
3,7AM-10.30PM,SURFACE CAR PARK,47125.2891,21704.3672,SUN & PH FR 7AM-10.30PM,4.50,N,NO,BLK 6/7 MARSILING DRIVE,0,4,W4,ELECTRONIC PARKING
4,WHOLE DAY,MULTI-STOREY CAR PARK,47025.8162,21619.4951,SUN & PH FR 7AM-10.30PM,2.15,N,YES,BLK 7A MARSILING DRIVE,12,5,W4M,ELECTRONIC PARKING
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,WHOLE DAY,MULTI-STOREY CAR PARK,46881.2420,24441.8462,NO,2.15,N,YES,BLK 678A WOODLANDS AVENUE 6,7,96,W94,ELECTRONIC PARKING
96,WHOLE DAY,MULTI-STOREY CAR PARK,47314.8499,24490.3124,SUN & PH FR 7AM-10.30PM,2.15,N,YES,BLK 788A WOODLANDS CRESCENT,12,97,W95,ELECTRONIC PARKING
97,WHOLE DAY,MULTI-STOREY CAR PARK,46730.8096,24060.4226,SUN & PH FR 7AM-10.30PM,2.15,N,YES,BLK 667A WOODLANDS RING ROAD,13,98,W96,ELECTRONIC PARKING
98,WHOLE DAY,MULTI-STOREY CAR PARK,46796.4780,24212.7627,SUN & PH FR 7AM-10.30PM,2.15,N,YES,BLK 671A WOODLANDS DRIVE 71,11,99,W97,ELECTRONIC PARKING
99,WHOLE DAY,MULTI-STOREY CAR PARK,46808.9077,24682.0186,SUN & PH FR 7AM-10.30PM,2.15,N,YES,BLK 681 WOODLANDS DRIVE 62,10,100,W98,ELECTRONIC PARKING

> Part B)** - Challenging Question [Optional] <br>
> - Check the number of records in **df_carpark**
> - You will realize the total records on data.gov.sg is 2,000+ records, but **df_carpark**only has 100 records
> - This is because it's common for API return a "page" of results per call. In this case, the API returns 100 records per page.
> - If you check *response.json()['result']['_links']*, you will see there are two links, the "next" link shows how to retrieve the next 100 records
> - Find a way to download all 2,000+ records and store into the dataframe **df_carparks**

> hint: you can use anything that you have learnt so far to achieve this

In [ ]:
response.json()['result']['_links']

{'start': '/api/action/datastore_search?resource_id=139a3035-e624-4f56-b63f-89ae28d4ae4c',
 'next': '/api/action/datastore_search?offset=100&resource_id=139a3035-e624-4f56-b63f-89ae28d4ae4c'}

In [ ]:
# One shortcut that happens to work on Data.gov.sg
url_base = 'https://data.gov.sg/api/action/datastore_search'

parameters = {
    'resource_id' : '139a3035-e624-4f56-b63f-89ae28d4ae4c',
    'limit': 2500
}

response = requests.get(url_base, params=parameters)
response.status_code

In [ ]:
# Do note that this is only one of the many solutions to this task

df_carparks = []
next_link = ''
total_records = 2199


while len(df_carparks) < total_records:
    # Notice the url is shorterned, this is because the 'next url' returned by the API
    # already has the '/api/action/datastore_search'.
    url = 'https://data.gov.sg'

    if len(df_carparks) == 0:
        #only the first request will use the basic url
        url = url + '/api/action/datastore_search?resource_id=139a3035-e624-4f56-b63f-89ae28d4ae4c'
    else:
        # only the first request will use the basic url
        url = url + next_link

    # Make a request to the API server
    a


    if response.status_code == 200
        # store the next_link into a variable, to be used in next iteration
        next_link = response.json()['result']['_links']['next']

        # traverse down the nested-dictionary to get the records
        response_dict = response.json()
        records = response_dict['result']['records']

        if len(df_carparks) == 0:
            # only run this during the first request
            df_carparks = pd.json_normalize(records)
        else:
            # subsequent request, the dataframe is append to the existing dataframe
            df_temp = pd.json_normalize(records)
            df_carparks = pd.concat([df_carparks, df_temp], axis=0, ignore_index=True)

In [ ]:
len(df_carparks)

2183

# Extra

In [ ]:
base_url = 'https://canvas.instructure.com/api/v1/'

In [ ]:
headers = {"Authorization": "Bearer 7~PUekV4KTcFeLHl7EUIOcuHDQx0r9fSoqNWF0ZA9IUslosaZbvDljiGe3oReM2O9f"}

In [ ]:
user_id = 38023286
response = requests.get(base_url + f'users/{user_id}/profile', headers=headers)

In [ ]:
response = requests.get(base_url + f'users/{user_id}/courses', headers=headers)

In [ ]:
response

In [ ]:
response.json()

[{'id': 6051402,
  'name': 'DC Bootcamp 2023',
  'account_id': 102391,
  'uuid': 'd76zkSq1zL7VcullfnRh41RLnIwIyCWJTyiM1dIg',
  'start_at': '2023-01-01T07:00:00Z',
  'grading_standard_id': None,
  'is_public': False,
  'created_at': '2023-01-18T07:12:57Z',
  'course_code': 'DCBC2023',
  'default_view': 'feed',
  'root_account_id': 10,
  'enrollment_term_id': 1,
  'license': 'private',
  'grade_passback_setting': None,
  'end_at': '2023-11-30T07:00:00Z',
  'public_syllabus': False,
  'public_syllabus_to_auth': False,
  'storage_quota_mb': 500,
  'is_public_to_auth_users': False,
  'homeroom_course': False,
  'course_color': None,
  'friendly_name': None,
  'apply_assignment_group_weights': False,
  'locale': 'en-GB',
  'calendar': {'ics': 'https://canvas.instructure.com/feeds/calendars/course_d76zkSq1zL7VcullfnRh41RLnIwIyCWJTyiM1dIg.ics'},
  'time_zone': 'Asia/Singapore',
  'blueprint': False,
  'template': False,
  'enrollments': [{'type': 'student',
    'role': 'StudentEnrollment',
    'role_id': 993,
    'user_id': 38023286,
    'enrollment_state': 'active',
    'limit_privileges_to_course_section': False},
   {'type': 'student',
    'role': 'StudentEnrollment',
    'role_id': 993,
    'user_id': 38023286,
    'enrollment_state': 'active',
    'limit_privileges_to_course_section': False},
   {'type': 'student',
    'role': 'StudentEnrollment',
    'role_id': 993,
    'user_id': 38023286,
    'enrollment_state': 'active',
    'limit_privileges_to_course_section': False}],
  'hide_final_grades': False,
  'workflow_state': 'available',
  'course_format': 'blended',
  'restrict_enrollments_to_course_dates': True}]

In [ ]:
headers = {"Authorization": "Bearer "}

base_url = 'https://canvas.instructure.com/api/v1/'

base_url_course = 'https://canvas.instructure.com/api/v1/courses/6051402/'

In [ ]:
response = requests.get(base_url_course + 'sections', headers=headers)
df_section = pd.json_normalize(response.json())
df_section

,id,course_id,name,start_at,end_at,created_at,restrict_enrollments_to_section_dates,nonxlist_course_id,sis_section_id,sis_course_id,integration_id
0,6060974,6051402,DC Bootcamp 2023,None,None,2023-01-18T07:12:57Z,None,None,None,None,None
1,6430661,6051402,DC Bootcamp 2023 - Observer/Audit,None,None,2023-03-20T06:14:05Z,None,None,None,None,None
2,6061006,6051402,DC Bootcamp X,None,None,2023-01-18T07:22:16Z,None,None,None,None,None
3,6463649,6051402,DC Bootcamp X - Trainers,None,None,2023-03-24T05:45:03Z,None,None,None,None,None
4,6353623,6051402,DC Bootcamp X (CPFB),None,None,2023-03-09T06:15:13Z,None,None,None,None,None
5,6353620,6051402,DC Bootcamp X (MOM),None,None,2023-03-09T06:15:03Z,None,None,None,None,None
6,6353626,6051402,DC Bootcamp X (SSG),None,None,2023-03-09T06:15:31Z,None,None,None,None,None
7,6588791,6051402,Testing Accounts,None,None,2023-04-05T03:36:58Z,None,None,None,None,None
8,6839840,6051402,Withdrawn,None,None,2023-05-11T05:24:29Z,None,None,None,None,None

In [ ]:
section_id = 6060974
response = requests.get(base_url + f'sections/{section_id}/enrollments', headers=headers)

In [ ]:
response.links

{'current': {'url': 'https://canvas.instructure.com/api/v1/sections/6060974/enrollments?page=first&per_page=10',
  'rel': 'current'},
 'next': {'url': 'https://canvas.instructure.com/api/v1/sections/6060974/enrollments?page=bookmark:WzcsWyJTdHVkZW50RW5yb2xsbWVudCIsIihDUEZCKSwgS2ltIFNlbmciLDQyMzY5NTMwXV0&per_page=10',
  'rel': 'next'},
 'first': {'url': 'https://canvas.instructure.com/api/v1/sections/6060974/enrollments?page=first&per_page=10',
  'rel': 'first'}}

In [ ]:
response.links.get("next", {}).get("url")

[{'id': 83561013,
  'user_id': 39582950,
  'course_id': 6051402,
  'type': 'ObserverEnrollment',
  'created_at': '2023-05-17T08:45:23Z',
  'updated_at': '2023-05-17T08:45:23Z',
  'associated_user_id': None,
  'start_at': None,
  'end_at': None,
  'course_section_id': 6060974,
  'root_account_id': 10,
  'limit_privileges_to_course_section': False,
  'enrollment_state': 'active',
  'role': 'ObserverEnrollment',
  'role_id': 997,
  'last_activity_at': '2023-05-17T09:01:41Z',
  'last_attended_at': None,
  'total_activity_time': 3649,
  'sis_account_id': 'en',
  'sis_course_id': None,
  'course_integration_id': None,
  'sis_section_id': None,
  'section_integration_id': None,
  'sis_user_id': None,
  'html_url': 'https://canvas.instructure.com/courses/6051402/users/39582950',
  'user': {'id': 39582950,
   'name': 'joey tan temp',
   'created_at': '2023-04-14T16:43:04+08:00',
   'sortable_name': 'temp, joey tan',
   'short_name': 'Joey Temp2',
   'sis_user_id': None,
   'integration_id': None,
   'root_account': 'canvas.instructure.com',
   'login_id': 'joeytantemp@gmail.com'}},
 {'id': 83561274,
  'user_id': 39582950,
  'course_id': 6051402,
  'type': 'ObserverEnrollment',
  'created_at': '2023-05-17T08:45:36Z',
  'updated_at': '2023-05-17T08:45:36Z',
  'associated_user_id': 38315763,
  'start_at': None,
  'end_at': None,
  'course_section_id': 6060974,
  'root_account_id': 10,
  'limit_privileges_to_course_section': False,
  'enrollment_state': 'active',
  'role': 'ObserverEnrollment',
  'role_id': 997,
  'last_activity_at': '2023-05-17T09:01:41Z',
  'last_attended_at': None,
  'total_activity_time': 3649,
  'sis_account_id': 'en',
  'sis_course_id': None,
  'course_integration_id': None,
  'sis_section_id': None,
  'section_integration_id': None,
  'sis_user_id': None,
  'html_url': 'https://canvas.instructure.com/courses/6051402/users/39582950',
  'user': {'id': 39582950,
   'name': 'joey tan temp',
   'created_at': '2023-04-14T16:43:04+08:00',
   'sortable_name': 'temp, joey tan',
   'short_name': 'Joey Temp2',
   'sis_user_id': None,
   'integration_id': None,
   'root_account': 'canvas.instructure.com',
   'login_id': 'joeytantemp@gmail.com'}},
 {'id': 83562566,
  'user_id': 39582950,
  'course_id': 6051402,
  'type': 'ObserverEnrollment',
  'created_at': '2023-05-17T08:46:41Z',
  'updated_at': '2023-05-17T08:46:41Z',
  'associated_user_id': 38322646,
  'start_at': None,
  'end_at': None,
  'course_section_id': 6060974,
  'root_account_id': 10,
  'limit_privileges_to_course_section': False,
  'enrollment_state': 'active',
  'role': 'ObserverEnrollment',
  'role_id': 997,
  'last_activity_at': '2023-05-17T09:01:41Z',
  'last_attended_at': None,
  'total_activity_time': 3649,
  'sis_account_id': 'en',
  'sis_course_id': None,
  'course_integration_id': None,
  'sis_section_id': None,
  'section_integration_id': None,
  'sis_user_id': None,
  'html_url': 'https://canvas.instructure.com/courses/6051402/users/39582950',
  'user': {'id': 39582950,
   'name': 'joey tan temp',
   'created_at': '2023-04-14T16:43:04+08:00',
   'sortable_name': 'temp, joey tan',
   'short_name': 'Joey Temp2',
   'sis_user_id': None,
   'integration_id': None,
   'root_account': 'canvas.instructure.com',
   'login_id': 'joeytantemp@gmail.com'}},
 {'id': 83562567,
  'user_id': 39582950,
  'course_id': 6051402,
  'type': 'ObserverEnrollment',
  'created_at': '2023-05-17T08:46:41Z',
  'updated_at': '2023-05-17T08:46:41Z',
  'associated_user_id': 38326562,
  'start_at': None,
  'end_at': None,
  'course_section_id': 6060974,
  'root_account_id': 10,
  'limit_privileges_to_course_section': False,
  'enrollment_state': 'active',
  'role': 'ObserverEnrollment',
  'role_id': 997,
  'last_activity_at': '2023-05-17T09:01:41Z',
  'last_attended_at': None,
  'total_activity_time': 3649,
  'sis_account_id': 'en',
  'sis_course_id': None,
  'course_integration_id': None,
  'sis_section_id': None,
  'section_integration_id': None,
  'sis_user_id': None,
  'html_url': 'https://canvas.instructure.com/courses/6051402/users/39582950',
  'user': {'id': 39582950,
   'name': 'joey tan temp',
   'created_at': '2023-04-14T16:43:04+08:00',
   'sortable_name': 'temp, joey tan',
   'short_name': 'Joey Temp2',
   'sis_user_id': None,
   'integration_id': None,
   'root_account': 'canvas.instructure.com',
   'login_id': 'joeytantemp@gmail.com'}},
 {'id': 42345524,
  'user_id': 38315089,
  'course_id': 6051402,
  'type': 'StudentEnrollment',
  'created_at': '2023-03-31T10:52:34Z',
  'updated_at': '2023-04-03T00:37:51Z',
  'associated_user_id': None,
  'start_at': None,
  'end_at': None,
  'course_section_id': 6060974,
  'root_account_id': 10,
  'limit_privileges_to_course_section': False,
  'enrollment_state': 'active',
  'role': 'StudentEnrollment',
  'role_id': 993,
  'last_activity_at': '2023-06-15T09:28:45Z',
  'last_attended_at': None,
  'total_activity_time': 39361,
  'grades': {'html_url': 'https://canvas.instructure.com/courses/6051402/grades/38315089',
   'current_grade': None,
   'current_score': 78.33,
   'final_grade': None,
   'final_score': 60.93,
   'unposted_current_score': 78.33,
   'unposted_current_grade': None,
   'unposted_final_score': 60.93,
   'unposted_final_grade': None},
  'sis_account_id': 'en',
  'sis_course_id': None,
  'course_integration_id': None,
  'sis_section_id': None,
  'section_integration_id': None,
  'sis_user_id': None,
  'html_url': 'https://canvas.instructure.com/courses/6051402/users/38315089',
  'user': {'id': 38315089,
   'name': 'Sng Kim Kiat Bernard (ACRA)',
   'created_at': '2023-03-31T18:52:10+08:00',
   'sortable_name': '(ACRA), Sng Kim Kiat Bernard',
   'short_name': 'Bernard Sng (ACRA)',
   'sis_user_id': None,
   'integration_id': None,
   'root_account': 'canvas.instructure.com',
   'login_id': 'bernard_sng@acra.gov.sg'}},
 {'id': 42369808,
  'user_id': 38338950,
  'course_id': 6051402,
  'type': 'StudentEnrollment',
  'created_at': '2023-03-31T11:20:14Z',
  'updated_at': '2023-04-02T07:21:38Z',
  'associated_user_id': None,
  'start_at': None,
  'end_at': None,
  'course_section_id': 6060974,
  'root_account_id': 10,
  'limit_privileges_to_course_section': False,
  'enrollment_state': 'active',
  'role': 'StudentEnrollment',
  'role_id': 993,
  'last_activity_at': '2023-06-11T07:41:04Z',
  'last_attended_at': None,
  'total_activity_time': 29897,
  'grades': {'html_url': 'https://canvas.instructure.com/courses/6051402/grades/38338950',
   'current_grade': None,
   'current_score': 79.79,
   'final_grade': None,
   'final_score': 70.93,
   'unposted_current_score': 79.79,
   'unposted_current_grade': None,
   'unposted_final_score': 70.93,
   'unposted_final_grade': None},
  'sis_account_id': 'en',
  'sis_course_id': None,
  'course_integration_id': None,
  'sis_section_id': None,
  'section_integration_id': None,
  'sis_user_id': None,
  'html_url': 'https://canvas.instructure.com/courses/6051402/users/38338950',
  'user': {'id': 38338950,
   'name': 'Goh Swee Kee Raymond (AGD)',
   'created_at': '2023-03-31T19:19:24+08:00',
   'sortable_name': '(AGD), Goh Swee Kee Raymond',
   'short_name': 'Goh Swee Kee Raymond (AGD)',
   'sis_user_id': None,
   'integration_id': None,
   'root_account': 'canvas.instructure.com',
   'login_id': 'raymond_goh@agd.gov.sg',
   'pronouns': 'He/Him'}},
 {'id': 42356833,
  'user_id': 38326191,
  'course_id': 6051402,
  'type': 'StudentEnrollment',
  'created_at': '2023-03-31T11:06:34Z',
  'updated_at': '2023-03-31T11:48:16Z',
  'associated_user_id': None,
  'start_at': None,
  'end_at': None,
  'course_section_id': 6060974,
  'root_account_id': 10,
  'limit_privileges_to_course_section': False,
  'enrollment_state': 'active',
  'role': 'StudentEnrollment',
  'role_id': 993,
  'last_activity_at': '2023-06-13T06:41:41Z',
  'last_attended_at': None,
  'total_activity_time': 59198,
  'grades': {'html_url': 'https://canvas.instructure.com/courses/6051402/grades/38326191',
   'current_grade': None,
   'current_score': 97.5,
   'final_grade': None,
   'final_score': 86.67,
   'unposted_current_score': 97.5,
   'unposted_current_grade': None,
   'unposted_final_score': 86.67,
   'unposted_final_grade': None},
  'sis_account_id': 'en',
  'sis_course_id': None,
  'course_integration_id': None,
  'sis_section_id': None,
  'section_integration_id': None,
  'sis_user_id': None,
  'html_url': 'https://canvas.instructure.com/courses/6051402/users/38326191',
  'user': {'id': 38326191,
   'name': 'Evelyn Koh (BCA)',
   'created_at': '2023-03-31T19:05:57+08:00',
   'sortable_name': '(BCA), Evelyn Koh',
   'short_name': 'Evelyn Koh (BCA)',
   'sis_user_id': None,
   'integration_id': None,
   'root_account': 'canvas.instructure.com',
   'login_id': 'evelyn_koh@bca.gov.sg',
   'pronouns': 'She/Her'}},
 {'id': 42366718,
  'user_id': 38335599,
  'course_id': 6051402,
  'type': 'StudentEnrollment',
  'created_at': '2023-03-31T11:17:02Z',
  'updated_at': '2023-04-05T02:33:25Z',
  'associated_user_id': None,
  'start_at': None,
  'end_at': None,
  'course_section_id': 6060974,
  'root_account_id': 10,
  'limit_privileges_to_course_section': False,
  'enrollment_state': 'active',
  'role': 'StudentEnrollment',
  'role_id': 993,
  'last_activity_at': '2023-04-05T08:44:25Z',
  'last_attended_at': None,
  'total_activity_time': 3863,
  'grades': {'html_url': 'https://canvas.instructure.com/courses/6051402/grades/38335599',
   'current_grade': None,
   'current_score': None,
   'final_grade': None,
   'final_score': 0.0,
   'unposted_current_score': None,
   'unposted_current_grade': None,
   'unposted_final_score': 0.0,
   'unposted_final_grade': None},
  'sis_account_id': 'en',
  'sis_course_id': None,
  'course_integration_id': None,
  'sis_section_id': None,
  'section_integration_id': None,
  'sis_user_id': None,
  'html_url': 'https://canvas.instructure.com/courses/6051402/users/38335599',
  'user': {'id': 38335599,
   'name': 'Lynn Lijsbeth Neo (BCA)',
   'created_at': '2023-03-31T19:16:06+08:00',
   'sortable_name': '(BCA), Lynn Lijsbeth Neo',
   'short_name': 'Lynn Lijsbeth Neo (BCA)',
   'sis_user_id': None,
   'integration_id': None,
   'root_account': 'canvas.instructure.com',
   'login_id': 'lynn_neo@bca.gov.sg'}},
 {'id': 42369272,
  'user_id': 38338346,
  'course_id': 6051402,
  'type': 'StudentEnrollment',
  'created_at': '2023-03-31T11:19:54Z',
  'updated_at': '2023-04-07T14:49:25Z',
  'associated_user_id': None,
  'start_at': None,
  'end_at': None,
  'course_section_id': 6060974,
  'root_account_id': 10,
  'limit_privileges_to_course_section': False,
  'enrollment_state': 'active',
  'role': 'StudentEnrollment',
  'role_id': 993,
  'last_activity_at': '2023-06-13T16:18:36Z',
  'last_attended_at': None,
  'total_activity_time': 122660,
  'grades': {'html_url': 'https://canvas.instructure.com/courses/6051402/grades/38338346',
   'current_grade': None,
   'current_score': 86.67,
   'final_grade': None,
   'final_score': 72.22,
   'unposted_current_score': 86.67,
   'unposted_current_grade': None,
   'unposted_final_score': 72.22,
   'unposted_final_grade': None},
  'sis_account_id': 'en',
  'sis_course_id': None,
  'course_integration_id': None,
  'sis_section_id': None,
  'section_integration_id': None,
  'sis_user_id': None,
  'html_url': 'https://canvas.instructure.com/courses/6051402/users/38338346',
  'user': {'id': 38338346,
   'name': 'Ng Lay Ching (CPF)',
   'created_at': '2023-03-31T19:18:59+08:00',
   'sortable_name': '(CPF), Ng Lay Ching',
   'short_name': 'Ng Lay Ching (CPF)',
   'sis_user_id': None,
   'integration_id': None,
   'root_account': 'canvas.instructure.com',
   'login_id': 'ng_lay_ching@cpf.gov.sg'}},
 {'id': 42369530,
  'user_id': 38338629,
  'course_id': 6051402,
  'type': 'StudentEnrollment',
  'created_at': '2023-03-31T11:20:04Z',
  'updated_at': '2023-03-31T11:55:10Z',
  'associated_user_id': None,
  'start_at': None,
  'end_at': None,
  'course_section_id': 6060974,
  'root_account_id': 10,
  'limit_privileges_to_course_section': False,
  'enrollment_state': 'active',
  'role': 'StudentEnrollment',
  'role_id': 993,
  'last_activity_at': '2023-04-19T13:54:19Z',
  'last_attended_at': None,
  'total_activity_time': 4221,
  'grades': {'html_url': 'https://canvas.instructure.com/courses/6051402/grades/38338629',
   'current_grade': None,
   'current_score': None,
   'final_grade': None,
   'final_score': 0.0,
   'unposted_current_score': None,
   'unposted_current_grade': None,
   'unposted_final_score': 0.0,
   'unposted_final_grade': None},
  'sis_account_id': 'en',
  'sis_course_id': None,
  'course_integration_id': None,
  'sis_section_id': None,
  'section_integration_id': None,
  'sis_user_id': None,
  'html_url': 'https://canvas.instructure.com/courses/6051402/users/38338629',
  'user': {'id': 38338629,
   'name': 'Kim Seng (CPFB)',
   'created_at': '2023-03-31T19:19:11+08:00',
   'sortable_name': '(CPFB), Kim Seng',
   'short_name': 'Kim Seng Ong (CPFB)',
   'sis_user_id': None,
   'integration_id': None,
   'root_account': 'canvas.instructure.com',
   'login_id': 'ong_kim_seng@cpf.gov.sg',
   'pronouns': 'He/Him'}}]

In [ ]:
section_id_list = [6060974, 6353623, 6353620, 6353626, 6430661, 6463649, 6839840]

df_enrolments = []

for section_id in section_id_list:
    url = base_url + f'sections/{section_id}/enrollments'

    while url:
        response = requests.get(url, headers=headers)
        response.raise_for_status()
        df_enrolments.extend(response.json())
        url = response.links.get("next", {}).get("url")

df_enrolments = pd.DataFrame(df_enrolments)